#logo-div{
    height: 40%;
    display: flex;
    align-items: center;  //vertical
    justify-content: center;  //horizontal

    h3{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 20px;
    }
    img{
        margin-left: 30%;
        width: 40%;
        height: 40%;
        align-items: center;
        justify-content: center; 
        border-radius: 95px;
    }
    
}
